@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}


body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

h1, h2 {
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 1000px;
  margin: 0 auto;
  max-width: 100%;
  padding: 0 20px;
}

img {
  max-width: 100%;
}

header {
  background-image: url(./images/bg-hero-desktop.svg);
  background-size: cover;
  background-position: center;
  background-color: hsl(193, 100%, 96%);
  padding: 40px 0;
}

.flex {
  display: flex;
}
